<?xml version="1.0"?>
<configuration>
  <appSettings>    
    <add key="Data Source" value="." />
    <add key="Database" value="ERP" />
    <add key="User ID" value="sa" />
    <add key="Password" value="123" />
    <add key="Asynchronous Processing" value="true"/>
    <add key="RegKey" value="5B5G-5F50-5G5C-5G5G-5151-5151"/>
    
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
