.tabLnkIcon {
    border: none;
    width: 9px;
    height: 8px;
}

#RightPane {
    padding: 2px;
    overflow: auto;
}

.ui-tabs-nav li {
    position: relative;
}

.ui-tabs-selected a span {
    padding-right: 10px;
}

.ui-tabs-close {
    display: none;
    position: absolute;
    top: 3px;
    right: 0px;
    z-index: 800;
    width: 16px;
    height: 14px;
    font-size: 10px;
    font-style: normal;
    cursor: pointer;
}

.ui-tabs-selected .ui-tabs-close {
    display: block;
}

.rotate {
    /* for Safari */
    -webkit-transform: rotate(-90deg);
    /* for Firefox */
    -moz-transform: rotate(-90deg);
    /* for Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

ul a {
    color: #371C1C;
    display: block;
    font-size: 12px;
    line-height: 10px;
    padding-left: 0;
    padding-right: 5px;
    text-decoration: none;
}

.ui-widget-content {
    border: none;
}

.ui-widget-header {
    background: none;
    border: none;
}

.dashboardCol {
    padding: 50px 50px 10px 50px;
    max-height: 500px;
    overflow: auto;
}
